[submodule "ext/platform/SDL"]
	path = ext/platform/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "ext/cwgl/angle"]
	path = ext/cwgl/angle
	url = https://github.com/google/angle
[submodule "yuniframe"]
	path = yuniframe
	url = https://github.com/okuoku/yuniframe
[submodule "ext/test/imgui"]
	path = ext/test/imgui
	url = https://github.com/ocornut/imgui
